@charset "UTF-8";
@font-face {
  font-family: "openSans";
  src: url("../fonts/opensans.woff2"); }

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensansbold.woff2"); }

@font-face {
  font-family: "openSansLight";
  src: url("../fonts/opensanslight.woff2"); }

@font-face {
  font-family: "openSans";
  src: url("../fonts/opensanslight.woff"); }

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensansbold.woff"); }

@font-face {
  font-family: "openSansLight";
  src: url("../fonts/opensanslight.woff"); }

body {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif; }

.reviews {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  min-height: 205px;
  border: gold 5px solid; }

.about {
  width: 320px;
  padding-left: 0;
  margin: 0 auto;
  background-color: #f2f2f2;
  min-height: 840px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-y: 555px;
  background-position-x: 50%;
  border: gold 5px solid; }
  .about::before {
    content: "";
    border-top: 59px white solid;
    border-right: 320px #f2f2f2 solid; }

.presentation {
  padding-left: 20px;
  padding-right: 20px;
  border: gold 5px solid; }
  .presentation p {
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    margin: 0;
    padding-bottom: 40px; }

header {
  width: 320px;
  margin: 0 auto;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5px;
  border: 5px solid gold; }

.contaсt {
  min-height: 412px;
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  background-color: white;
  border: gold 5px solid; }

.map {
  position: relative;
  margin: 0 auto;
  width: 320px;
  border: gold 5px solid; }
  .map::before {
    content: "";
    position: absolute;
    border-top: 60px white solid;
    border-left: 165px transparent solid;
    border-right: 165px transparent solid;
    top: 0;
    z-index: 100; }

.offer {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  border: gold 5px solid; }
