@charset "UTF-8";
@font-face {
  font-family: "openSans";
  src: url("../fonts/opensans.woff2"); }

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensansbold.woff2"); }

@font-face {
  font-family: "openSansLight";
  src: url("../fonts/opensanslight.woff2"); }

@font-face {
  font-family: "openSans";
  src: url("../fonts/opensanslight.woff"); }

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensansbold.woff"); }

@font-face {
  font-family: "openSansLight";
  src: url("../fonts/opensanslight.woff"); }

body {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif; }

.reviews {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  min-height: 205px;
  border: gold 5px solid; }

.about {
  width: 320px;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 840px;
  list-style: none;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-y: 555px;
  background-position-x: 50%; }
  .about::before {
    content: "";
    border-top: 59px white solid;
    border-right: 320px #f2f2f2 solid; }

.about__text--first {
  padding-top: 25px; }

.about__text h3 {
  width: 280px;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

.about__text p {
  width: 280px;
  display: inline-block;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px; }

.about__text--third {
  display: block; }

.main {
  width: 320px;
  margin: 0 auto;
  border: gold 5px solid; }

.main__title {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 46px;
  display: flex;
  flex-direction: column; }
  .main__title h2 {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px; }
  .main__title h2:nth-child(1) {
    margin-bottom: 30px; }

.main__iphone--img {
  display: flex;
  justify-content: center; }

.navigation {
  display: none; }

.presentation {
  padding-left: 20px;
  padding-right: 20px;
  border: gold 5px solid; }
  .presentation p {
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    margin: 0;
    padding-bottom: 40px; }

header {
  width: 320px;
  margin: 0 auto;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 320px 462px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5px; }

.header__menu {
  height: 66px;
  padding-right: 20px;
  padding-left: 20px;
  width: 280px;
  background-color: rgba(29, 38, 49, 0.6);
  display: flex;
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 20px; }

.popup__btn-open {
  border: none;
  padding: 0;
  background-color: initial;
  align-items: center;
  margin-left: auto; }

.header__presentation {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-y: 115px;
  padding-top: 425px; }

.contaсt {
  min-height: 412px;
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white; }
  .contaсt a {
    color: red;
    font-size: 24px;
    display: inline-block;
    text-align: center; }

.contact__title h3 {
  font-size: 24px;
  font-weight: lighter;
  line-height: 24px;
  margin-bottom: 45px;
  margin-top: 50px; }

.contact__mini-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 13px; }

.contact__phone h4 {
  padding-left: 60px; }

.contact__email h4 {
  padding-left: 90px; }

.contact__address h4 {
  padding-left: 15px; }

.map {
  position: relative;
  margin: 0 auto;
  width: 320px;
  border: gold 5px solid; }
  .map::before {
    content: "";
    position: absolute;
    border-top: 60px white solid;
    border-left: 165px transparent solid;
    border-right: 165px transparent solid;
    top: 0;
    z-index: 100; }

.offer {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  border: gold 5px solid; }
